/* CSS Document */
html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

* {-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body { padding-top: 70px; }

.btn {
	background-color: #df691a;
}

.select {
	background-color: #4e5d6c;
	color: #fff;
}


.list {
	padding-left: 25px;
}

.description .list-group-item {
	border-bottom: 1px #2b3e50 dotted ;  
	margin-bottom: 1px;
}

footer {
	color: #000;
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
