/* CSS Document */
html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body { padding-top: 70px; }

.popisKat {
	margin-top: 0;
}

.fa-info-circle {
	margin-right: 5px;
}
.bezKat {
	margin-top: 45.2px;
	background-color: #df691a;
}

.ulKat {
	list-style-type: none;
	padding-left: 0px;
	background-color: #4e5d6c;
	margin-bottom: 0px;
}

.AKat {
	width: 80%;
	display: inline-block;
}

.AEDKat {
	width: 8%;
    display: inline-block;
    padding: 9px 6px;
    margin-bottom: -1px;
    font-size: 17px;
    margin: 0;
    color: #ebebeb;
}
.AEDKat:hover {
	color: #2b3e50;
}
.LiKat:hover {
	background-color:  #485563;
}

.formKat {
	width: 85%;
}


.btn {
	background-color: #df691a;
	padding: 9px 16px;
}

.select {
	background-color: #4e5d6c;
	color: #fff;
}

.new-cat {
	padding: 8px 13px;
	width: 100%!important;
	display: inline-block;
}

.navbar-link {
	   padding: 9.5px;
    font-size: 14px;
}


.list {
	padding-left: 25px;
}


.list-group-item .controls {
	display: none;
}

.list-group-item:hover .controls {
	display: block;
}

.description .list-group-item {
	border-bottom: 1px #2b3e50 dotted ;
	margin-bottom: 1px;
}

.description .controls {
	position: relative;
	bottom: 6px;
}



.description .controls a {
	font-size: 20px;
	margin-left: 8px;
}

.description .controls a:hover {
	color: #2b3e50;
}

footer {
	color: #000;
	width: 100%;
	text-align: center;
	margin: 10px 0;
}

.back-to-top {
	color: #df691a;
	position: fixed;
	bottom: 5px;
	right: 30px;
	z-index: 10;
	display: block;

}

.back-to-top:hover {
	color: #4e5d6c;
}

.eror {
	text-align: center;
}

#add-form .form-group:first-child, #delete-form .form-group:first-child, #edit-form .form-group:first-child {
	width: 400px;
}

#add-form #link, #delete-form #link, #edit-form #link {
	width: 400px;
}

**
 * login / register form
 */

.form-control::-moz-placeholder {
	color: #aaa;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #aaa;
}

.form-control::-webkit-input-placeholder {
	color: #aaa;
}

.form-control {
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

.box {
	color: #323c46;
	padding: 15px 35px 45px;
	/*margin: 50px auto;*/
	margin: 0 auto 50px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-auth {
	margin-top: 50px;
	max-width: 380px;
}

.box .box-heading,
.box .box-auth-heading,
.box .checkbox {
	margin-bottom: 30px;
}

.box .checkbox {
	font-weight: normal;
}

.box .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}

.box .form-control:focus {
	z-index: 2;
}

.box input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.box input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.box-auth .btn {
	margin-top: 20px;
}

.box .checkbox {
	padding-left: 31px;
}

.alt-action {
	margin-top: 20px;
	margin-bottom: -10px;
}

.error {
	max-width: 380px;
	margin: auto;
}






.fadeInRight {
	-webkit-animation: .7s both;
	-moz-animation: .7s both; /* Fx 5+ */
	-o-animation: .7s both; /* Opera 12+ */
	animation: .7s both;

	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight; /* Fx 5+ */
	-o-animation-name: fadeInRight; /* Opera 12+ */
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
	0%   { opacity: 0; -webkit-transform: translateX(1000px); }
	20%  { opacity: 0; }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-moz-keyframes fadeInRight {
	0%   { opacity: 0; -moz-transform: translateX(1000px); }
	20%  { opacity: 0; }
	100% { opacity: 1; -moz-transform: translateX(0); }
}
@-o-keyframes fadeInRight {
	0%   { opacity: 0; -o-transform: translateX(1000px); }
	20%  { opacity: 0; }
	100% { opacity: 1; -o-transform: translateX(0); }
}
@keyframes fadeInRight {
	0%   { opacity: 0; transform: translateX(1000px); }
	20%  { opacity: 0; }
	100% { opacity: 1; transform: translateX(0); }
}



